* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  margin: 40px auto;
  padding: 20px 10px;
  border: 0.3px solid #d8d8d8;
  text-align: center;
}

.container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.container .boxes .box {
  background-color: #fff;
  padding: 20px;
  box-shadow: -1px 1px 8px 0px #fcfcfc;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  position: relative;
}

.container .boxes .box i {
  font-size: 46px;
  cursor: pointer;
}

.container .boxes .box i.fa-circle-minus {
  color: #dc0a0a;
}

.container .boxes .box i.fa-circle-plus {
  color: #0075ff;
}

.container .boxes .box input {
  font-size: 15px;
  margin-top: 20px;
  padding: 13px 5px;
  margin-bottom: 20px;
  /* outline: 1px solid #0075ff; */
  border-radius: 6px;
  border: 1px solid #eee;
}

.container .boxes .box input::placeholder {
  font-weight: normal;
  font-size: 14px;
  color: #b9b9b9;
}

.container .boxes .box .adding-form hr {
  border: 1px solid #0075ff;
}

.container .boxes .box .adding-form input {
  caret-color: #0075ff;
}

container .boxes .box .adding-form input:focus {
  outline: 1px solid #0075ff;
}

.container .boxes .box .remove-form input {
  border: 1px solid #dc0a0a;
  caret-color: #dc0a0a;
}