* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Tahoma Arial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  margin: 40px auto;
  padding: 20px 10px;
  border: 0.3px solid #d8d8d8;
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  color: #131313;
}

.container .boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.container .boxes .box {
  background-color: #fff;
  padding: 20px;
  box-shadow: -1px 1px 8px 0px #fcfcfc;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.container .boxes .box i {
  font-size: 46px;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
}

.container .boxes .box span#add {
  color: #0075ff;
}

.container .boxes .box span#remove {
  color: #dc0a0a;
}

.container .boxes .box i.fa-circle-minus {
  color: #dc0a0a;
}

.container .boxes .box i.fa-circle-plus {
  color: #0075ff;
}

.container .boxes .box input {
  width: 100%;
  font-size: 15px;
  margin-top: 20px;
  padding: 13px 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #dbdada;
}

.container .boxes .box input::placeholder {
  font-size: 16px;
  color: #808080;
}

.container .boxes .box .adding-form hr {
  border: 1px solid #0075ff;
}

.container .boxes .box .adding-form input:focus {
  border: none;
  outline: 2px solid #0075ff;
  caret-color: #0075ff;
}

.container .boxes .box .remove-form input:focus {
  border: none;
  outline: 2px solid #dc0a0a;
  caret-color: #dc0a0a;
}



.container .boxes .box .adding-form,
.container .boxes .box .remove-form {
  position: relative;
  display: none;
}

.container .boxes .box button {
  padding: 15px 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.container .boxes .box .arrow {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container .boxes .box .arrow .background {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.container .boxes .box .adding-form .arrow .background {
  background-color: #0075ff;
}

.container .boxes .box .remove-form .arrow .background {
  background-color: #dc0a0a;
}

.container .boxes .box .arrow .background i.back-btn {
  font-size: 22px;
  margin: 0;
  display: block;
  color: #fff;
}

.container .boxes .box .arrow .background:hover i.back-btn {
  animation: moving 0.31s infinite;
}

.container .boxes .box #warn-span {
  display: block;
  padding: 20px;
  font-size: 17px;
}

.container .boxes .box button#addingBtn {
  background-color: #0075ff;
}

.container .boxes .box button#removeBtn {
  background-color: #dc0a0a;
}

@keyframes moving {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

}